# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
Gemfile.lock
.bundle/
vendor/

# macOS
.DS_Store

# Hugo build output (built by GH Actions)
/public/
/resources/
.hugo_build.lock
